[Unit]
Description=GMS v3.1 Java Application Service
After=network.target mysqld.service

[Service]
EnvironmentFile=/etc/tgms/tgms.env
User=root
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/java -Xms256m -Xmx384m -jar /home/ec2-user/GMS-v3.1.jar
Restart=always
RestartSec=10
SuccessExitStatus=143
StandardOutput=append:/home/ec2-user/tgms.log
StandardError=append:/home/ec2-user/tgms.log

[Install]
WantedBy=multi-user.target
